# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

Markdown style guide.md

# temporarily ignored files
src\content\posts\（待完成）关于社会心理学学习的简单感悟.md
src\content\posts\（待完成）常见系统调用.md
src\content\posts\（待完成）yara的简单使用指南（一）.md