:root {
  --color-primary: theme('colors.primary');
  --color-background: theme('colors.background');
  --color-shadow: theme('fontFamily.ui');
  --font-ui: theme('colors.shadow');
}

html {
  @apply antialiased;
  @apply bg-[var(--color-background)] text-[var(--color-primary)] font-[var(--font-ui)];

  text-shadow: 1px 1px 1px var(--color-shadow);
  background-size: 7px 7px;
  background-image:
    linear-gradient(to right, var(--color-shadow) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-shadow) 1px, transparent 1px);
}

:where(a):not(.not-underline-hover) {
  @apply p-[1.5px] decoration-underline decoration-[0.1em] decoration-offset-[2px]
    transition duration-300 hover:(text-[var(--color-background)] bg-[var(--color-primary)] decoration-[var(--color-primary)]);
}
