---
import type { Post } from '~/types'
import { formatDate, getPostUrl } from '~/utils'
import PostCategory from './PostCategory.astro'

interface Props {
  post: Post
}

const { post } = Astro.props
const { translate: t } = Astro.locals

const categoryList = post.data.categories ?? []
const postUrl = getPostUrl(post.id)
---

<header flex="~ col gap-2">
  <h1 class="post-title">
    <a class="not-prose" href={postUrl}>{post.data.title}</a>
  </h1>
  <div class="text-3.5">
    <span>{t(post.data.modDate ? 'updated_at' : 'posted_at')}</span>
    <time>{formatDate(post.data.modDate ?? post.data.pubDate)}</time>
    {categoryList.map((category) => <PostCategory category={category} />)}
  </div>
</header>
